requests==2.31.0
streamlit>=1.17.0
streamlit-webrtc==0.47.7
streamlit_mic_recorder==0.0.8
toml==0.10.2
numpy>=1.23.1
pandas>=1.5.2
librosa>=0.9.2
scikit-learn>=1.1.2
tensorflow-cpu==2.16.1
tensorflow>=2.11.0
requests==2.31.0
Werkzeug==2.2.2
boto3==1.26.98
Flask==2.2.2
jinja2==3.1.2
gunicorn==20.1.0
PyDrive==1.3.1
pydub>=0.25.1
pydrive2==1.14.0
audioread>=2.1.9
soundfile>=0.10.3
ffmpeg>=1.4
ffprobe==0.5
matplotlib==3.7.1
h5py>=3.10.0
imageio-ffmpeg==0.4.8
scipy==1.14.1
